/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/******************************************************************************
 * Speakers and organizers
 ******************************************************************************/

.speaker-pic {
  max-width: 125px;
  max-height: 125px;
}

.people-pic {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.people-name {
  margin: 5px 0 10px;
}

.people-name h6 {
  margin: 2px 0;
  font-weight: 300;
  font-size: 11px;
}

.organizers {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
